[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
container-app-conf = ">=5.0.0"
evdev = "*"
orjson = ">=3,<4"
websockets = "*"
prometheus-client = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3"
